<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="/layout/tables::head">
</head>

<body id="page-top">
<div th:replace="/layout/tables::navbar">
</div>
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/layout/tables::sidebar">
    </div>
    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <div th:replace="/layout/tables::breadcrumb">
            </div>
            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <!--                    <i class="fas fa-table"></i>-->
                    <a href="/admin/create-product">Create new Product</a><br>
                    <a href="/admin/create-brand">Create new Brand</a></div>
                <div sec:authorize="isAuthenticated()">
                    <b>Welcome!
                        <div sec:authentication="principal.username"/>
                    </b>
                </div>
                <br/>
                <div sec:authorize="isAuthenticated()">
                    <a th:href="@{/}">Home</a> | <a th:href="@{/logout}">Logout</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Brand</th>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Price</th>
                                <th>Photo</th>
                                <th>Description</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Brand</th>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Price</th>
                                <th>Photo</th>
                                <th>Description</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </tfoot>
                            <th:block th:each="product : ${products}">
                                <tr>
                                    <td th:text="${product.name}"></td>
                                    <td th:text="${product.brand.name}"></td>
                                    <td th:text="${product.category.name}"></td>
                                    <td th:text="${product.amount}"></td>
                                    <td th:text="${product.price}"></td>
                                    <td><img width="150px" height="150px" th:src="'/images/' + ${product.image}"></td>
                                    <td th:text="${product.comment}"></td>
                                    <td><a th:href="@{/admin/edit-product/__${product.id}__ }">Edit</a></td>
                                    <td><a th:href="@{/admin/delete-product/__${product.id}__ }">Delete</a></td>
                                </tr>
                            </th:block>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Welcome to my website.</div>
            </div>

            <p class="small text-center text-muted my-5">
                <em>More table examples coming soon...</em>
            </p>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->

        <div th:replace="/layout/tables::footer">
        </div>
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<div th:replace="/layout/tables::scroll">
</div>
<!-- Logout Modal-->
<div th:replace="/layout/tables::logout">
</div>
<!-- Bootstrap core JavaScript-->
<div th:replace="/layout/tables::js">
</div>
</body>

</html>
