<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete brand</title>
</head>
<body>
<h1>Delete brand</h1>
<h2>Are you sure?</h2>
<p>

    <a href="/">Product list</a>
    <a href="/list-brand">Brand list</a>

</p>
<form th:action="@{/delete-brand}" th:object="${brand}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${brand.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete brand"></td>
        </tr>
    </table>
</form>
</body>
</html>