<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/layout/index::head">
    </head>
    <body>

        <div class="super_container">

            <!-- Header -->

            <div th:replace="/layout/index::header">
            </div>

            <!-- Menu -->

            <div th:replace="/layout/index::menu">
            </div>

            <!-- Home -->

            <div class="home">
                <div class="home_container">
                    <div class="home_background" style="background-image:url(/source/images/bg-apple.jpg)"></div>
                    <div class="home_content_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_content">
                                        <div class="home_title">Smart Phones<span>.</span></div>
                                        <div class="home_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros. Sed viverra velit venenatis fermentum luctus.</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Products -->

            <div class="products">
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->
                            <div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start">
                                <div class="results">Showing <span>12</span> results</div>
                                <div class="sorting_container ml-md-auto">
                                    <div class="sorting">
                                        <ul class="item_sorting">
                                            <li>
                                                <span class="sorting_text">Sort by</span>
                                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                <ul>
                                                    <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default</span></li>
                                                    <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
                                                    <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "stars" }'><span>Name</span></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <div class="product_grid">
                                    <th:block th:each="product: ${products}">
                                    <div class="product">
                                        <div class="product_image">
                                            <img th:src="'/images/'+*{product.image}" alt="">
                                        </div>
                                        <div class="product_content">
                                            <div class="product_title"><a href="#" th:text="*{product.name}"></a></div>
                                            <div class="product_price" th:text="*{product.price}"></div>
                                        </div>
                                    </div>
                                    </th:block>
                            </div>
                            <div class="product_pagination">
                                <ul>
                                    <li class="active"><a href="#">01.</a></li>
                                    <li><a href="#">02.</a></li>
                                    <li><a href="#">03.</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Icon Boxes -->

            <div th:replace="/layout/index::boxes">
            </div>

            <!-- Newsletter -->

            <div th:replace="/layout/index::letter">
            </div>

            <!-- Footer -->

            <div th:replace="/layout/index::footer">
            </div>
        </div>

        <div th:replace="/layout/index::js">
        </div>
    </body>
</html>