<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Product</title>

    <!-- Custom fonts for this template-->
<!--   // <link th:href="@{/resource/css/bootstrap.css}" rel="stylesheet" type="text/css">-->

    <!-- Page level plugin CSS-->

</head>
<body>
<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12 d-flex align-items-center">
                <div class="services-wrap rounded-right w-100">
                    <h3>Create Product</h3>
                    <th:block th:if="${message}">
                        <div class="alert alert-success">
                            <span th:text="${message}"></span>
                        </div>
                    </th:block>
                    <a href="/admin">Admin list</a>
                    <form th:action="@{/createProduct}" th:object="${product}" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <label>Product Name:</label>
                            <input type="text" class="form-control" th:field="*{nameProduct}"/>
                        </div>
                        <div class="form-group">
                            <label>Unit Name:</label>
                            <select class="form-control" th:field="*{unit}">
                                <th:block th:each="unit1 : ${unit}">
                                    <option th:value="${unit1.idUnit}" th:text="${unit1.nameUnit}"></option>
                                </th:block>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Product Type</label>
                            <select class="form-control" th:field="*{producttype}">
                                <th:block th:each="producttype1 : ${producttype}">
                                    <option th:value="${producttype1.idProductType}" th:text="${producttype1.nameProductType}"></option>
                                </th:block>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

</body>

</html>