<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete image</title>
</head>
<body>
<h1>Delete user</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/users">Images list</a>
</p>
<form th:action="@{/delete-images}" th:object="${images}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="*{nameImages}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td th:text="*{description}"></td>
        </tr>
        <tr>
            <td><label>Images</label></td>
<!--            <td><img width="150px" height="150px" th:src="@{'/images/' + ${image.images}}"/></td>-->
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete user"></td>
        </tr>
    </table>
</form>
</body>
</html>