<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout/tables::head">
</head>

<body id="page-top">
<div th:replace="/layout/tables::navbar">
</div>
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/layout/tables::sidebar">
    </div>
    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <div th:replace="/layout/tables::breadcrumb">
            </div>
            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <!--                    <i class="fas fa-table"></i>-->
                    <a href="/admin/create-product">Create new Product</a><br>
                    <a href="/admin/create-brand">Create new Brand</a></div>

                <p>
                <h1>Delete Brand</h1>
                <h2>Are you sure?</h2>
                <p>
                    <a href="/list-product">Product list</a>
                </p>
                <form th:action="@{/admin/delete-brand}" th:object="${brand}" method="post">
                    <input th:type="hidden" name="id" th:field="*{id}">
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td th:text="${brand.name}"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Delete Brand"></td>
                        </tr>
                    </table>
                </form>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>

            <p class="small text-center text-muted my-5">
                <em>More table examples coming soon...</em>
            </p>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->

        <div th:replace="/layout/tables::footer">
        </div>
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<div th:replace="/layout/tables::scroll">
</div>
<!-- Logout Modal-->
<div th:replace="/layout/tables::logout">
</div>
<!-- Bootstrap core JavaScript-->
<div th:replace="/layout/tables::js">
</div>

</body>

</html>


