<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cart</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Sublime project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" th:href="@{/source/styles/bootstrap4/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/source/plugins/font-awesome-4.7.0/css/font-awesome.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/source/styles/cart.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/source/styles/cart_responsive.css}">
    </head>
    <body>

        <div class="super_container">

            <!-- Header -->

            <header th:replace="layout/index::header"></header>

            <!-- Menu -->

            <div th:replace="layout/index::menu"></div>

            <!-- Home -->

            <div class="home">
                <div class="home_container">
                    <div class="home_background" style="background-image:url(/source/images/cart.jpg)"></div>
                    <div class="home_content_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_content">
                                        <div class="breadcrumbs">
                                            <ul>
                                                <li>
                                                    <a href="/">Home</a>
                                                </li>
                                                <li>
                                                    <a href="/best-product">Categories</a>
                                                </li>
                                                <li>Shopping Cart</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cart Info -->

            <div class="cart_info">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <!-- Column Titles -->
                            <div class="cart_info_columns clearfix">
                                <div class="cart_info_col cart_info_col_product">Product</div>
                                <div class="cart_info_col cart_info_col_price">Price</div>
                                <div class="cart_info_col cart_info_col_quantity">Quantity</div>
                                <div class="cart_info_col cart_info_col_total">Total</div>
                            </div>
                        </div>
                    </div>
                    <div class="row cart_items_row">
                        <div class="col">
                            <th:block th:each="item: ${cart.getItems()}">
                                <!-- Cart Item -->
                                <div class="cart_item d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                                    <!-- Name -->
                                    <div class="cart_item_product d-flex flex-row align-items-center justify-content-start">
                                        <div class="cart_item_image">
                                            <div>
                                                <img th:src="'/images/'+${item.product.image}" alt="">
                                            </div>
                                        </div>
                                        <div class="cart_item_name_container">
                                            <div class="cart_item_name">
                                                <a th:text="${item.product.name}"
                                                   th:href="'/product/'+${item.product.id}"></a>
                                            </div>
                                            <!--								<div class="cart_item_edit"><a href="#">Edit Product</a></div>-->
                                        </div>
                                    </div>
                                    <!-- Price -->
                                    <div class="cart_item_price" th:text="${item.product.price}"></div>
                                    <!-- Quantity -->
                                    <div class="cart_item_quantity">
                                        <div class="product_quantity_container">
                                            <div class="product_quantity clearfix">
                                                <span>Qty</span>
                                                <input id="quantity_input" type="text" pattern="[0-9]*"
                                                       th:value="${item.quantity}">
                                                <div class="quantity_buttons">
                                                    <div id="quantity_inc_button" class="quantity_inc quantity_control">
                                                        <a class="fa fa-chevron-up" aria-hidden="true"
                                                           th:href="@{/cart/quantity/+/__${item.product.id}__ }"></a>
                                                    </div>
                                                    <div id="quantity_dec_button" class="quantity_dec quantity_control">
                                                        <a class="fa fa-chevron-down" aria-hidden="true"
                                                           th:href="@{/cart/quantity/-/__${item.product.id}__ }"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Total -->
                                    <div class="cart_item_total" th:text="${total}"></div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="row row_cart_buttons">
                        <div class="col">
                            <div class="cart_buttons d-flex flex-lg-row flex-column align-items-start justify-content-start">
                                <div class="button continue_shopping_button">
                                    <a href="/">Continue shopping</a>
                                </div>
                                <div class="cart_buttons_right ml-lg-auto">
                                    <div class="button clear_cart_button">
                                        <a href="/cart/clear">Clear cart</a>
                                    </div>
                                    <div class="button update_cart_button">
                                        <a href="/cart/checkout">Check out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row_extra">
                    </div>
                </div>
            </div>

            <!-- Footer -->

            <div class="footer_overlay"></div>
            <footer class="footer">
                <div class="footer_background" style="background-image:url(source/images/footer.jpg)"></div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="footer_content d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center">
                                <div class="footer_logo">
                                    <a href="#">Sublime.</a>
                                </div>
                                <div class="copyright ml-auto mr-auto">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                    All rights reserved | This template is made with
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    by
                                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </div>
                                <div class="footer_social ml-lg-auto">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="styles/bootstrap4/popper.js"></script>
        <script src="styles/bootstrap4/bootstrap.min.js"></script>
        <script src="plugins/greensock/TweenMax.min.js"></script>
        <script src="plugins/greensock/TimelineMax.min.js"></script>
        <script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
        <script src="plugins/greensock/animation.gsap.min.js"></script>
        <script src="plugins/greensock/ScrollToPlugin.min.js"></script>
        <script src="plugins/easing/easing.js"></script>
        <script src="plugins/parallax-js-master/parallax.min.js"></script>
        <script src="js/cart.js"></script>
    </body>
</html>