<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Checkout</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Sublime project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" th:href="@{/source/styles/bootstrap4/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/source/plugins/font-awesome-4.7.0/css/font-awesome.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/source/styles/checkout.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/source/styles/checkout_responsive.css}">
    </head>
    <body>

        <div class="super_container">

            <!-- Header -->

            <header th:replace="/layout/index::header"></header>

            <!-- Menu -->

            <div th:replace="/layout/index::menu"></div>

            <!-- Home -->

            <div class="home">
                <div class="home_container">
                    <div class="home_background" style="background-image:url(/source/images/cart.jpg)"></div>
                    <div class="home_content_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_content">
                                        <div class="breadcrumbs">
                                            <ul>
                                                <li>
                                                    <a href="/">Home</a>
                                                </li>
                                                <li>
                                                    <a href="/best-product">Categories</a>
                                                </li>
                                                <li>Shopping Cart</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Checkout -->

            <div class="checkout">
                <form th:action="@{/admin/create-bill}" th:object="${bill}" method="post">
                <div class="container">
                    <div class="row">
                            <!-- Billing Info -->
                            <div class="col-lg-6">
                                <div class="billing checkout_section">
                                    <div class="section_title">Billing Address</div>
                                    <div class="section_subtitle">Enter your address info</div>
                                    <div class="checkout_form_container">
                                        <div>
                                            <!-- Name -->
                                            <label for="checkout_name">Name*</label>
                                            <input type="text" id="checkout_name" class="checkout_input"
                                                   required="required" th:field="*{name}">
                                        </div>  
                                        <div>
                                            <!-- Address -->
                                            <label for="checkout_address">Address*</label>
                                            <input type="text" id="checkout_address" class="checkout_input"
                                                   required="required" th:field="*{address}">
                                        </div>
                                        <div>
                                            <!-- Phone no -->
                                            <label for="checkout_phone">Phone*</label>
                                            <input type="phone" id="checkout_phone" class="checkout_input"
                                                   required="required" th:field="*{phone}">
                                        </div>
                                        <div>
                                            <!-- Email -->
                                            <label for="checkout_email">Email*</label>
                                            <input type="phone" id="checkout_email" class="checkout_input"
                                                   required="required" th:field="*{email}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Order Info -->

                            <div class="col-lg-6">
                                <div class="order checkout_section">
                                    <div class="section_title">Your order</div>

                                    <!-- Order details -->
                                    <div class="order_list_container">
                                        <div class="order_list_bar d-flex flex-row align-items-center justify-content-start">
                                            <div class="order_list_title">Product</div>
                                            <div class="order_list_value ml-auto">Total</div>
                                        </div>
                                        <ul class="order_list">
                                            <th:block th:each="item: ${cart.getItems()}">
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="order_list_title" th:text="${item.product.name}" >
                                                </div>
                                                <div class="order_list_value ml-auto" th:text="${item.product.price}">
                                                </div>
                                            </li>
                                            </th:block>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="order_list_title">Total</div>
                                                <div class="order_list_value ml-auto" th:text="${total}"></div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div><td><input class="btn btn-secondary" type="submit" value="Create bill"></td>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                </form>
            </div>

            <!-- Footer -->

            <div th:replace="/layout/index::footer">
            </div>
        </div>
        </div>

        <script th:src="@{/source/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/source/styles/bootstrap4/popper.js}"></script>
        <script th:src="@{/source/styles/bootstrap4/bootstrap.min.js}"></script>
        <script th:src="@{/source/plugins/greensock/TweenMax.min.js}"></script>
        <script th:src="@{/source/plugins/greensock/TimelineMax.min.js}"></script>
        <script th:src="@{/source/plugins/scrollmagic/ScrollMagic.min.js}"></script>
        <script th:src="@{/source/plugins/greensock/animation.gsap.min.js}"></script>
        <script th:src="@{/source/plugins/greensock/ScrollToPlugin.min.js}"></script>
        <script th:src="@{/source/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
        <script th:src="@{/source/plugins/Isotope/isotope.pkgd.min.js}"></script>
        <script th:src="@{/source/plugins/easing/easing.js}"></script>
        <script th:src="@{/source/plugins/parallax-js-master/parallax.min.js}"></script>
        <script th:src="@{/source/js/checkout.js}"></script>
        <script th:src="@{/source/js/custom.js}"></script>

    </body>
</html>