<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>QM Phone</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Sublime project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" th:href="@{/source/styles/bootstrap4/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/source/plugins/font-awesome-4.7.0/css/font-awesome.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/source/styles/contact.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/source/styles/contact_responsive.css}">
    </head>
    <body>

        <div class="super_container">

            <!-- Header -->

            <div th:replace="/layout/index::header"></div>

            <!-- Menu -->

            <div th:replace="/layout/index::menu"></div>

            <!-- Home -->

            <div class="home">
                <div class="home_container">
                    <div class="home_background" style="background-image:url(/source/images/contact.jpg)"></div>
                </div>
            </div>

            <!-- Contact -->

            <div class="contact">
                <div class="container">
                    <div class="row">

                        <!-- Get in touch -->
                        <div class="col-lg-8 contact_col">
                            <div class="get_in_touch">
                                <div class="section_title">Contact with us</div>
                                <div id="done"></div>
                                <div class="contact_form_container">

                                    <div class="row">
                                        <div class="col-xl-6">
                                            <!-- Name -->
                                            <label for="firstName">First Name*</label>
                                            <input type="text" id="firstName" class="contact_input" required="required">
                                        </div>
                                        <div class="col-xl-6 last_name_col">
                                            <!-- Last Name -->
                                            <label for="lastName">Last Name*</label>
                                            <input type="text" id="lastName" class="contact_input" required="required">
                                        </div>
                                    </div>
                                    <div>
                                        <!-- Subject -->
                                        <label for="subject">Subject</label>
                                        <input type="text" id="subject" class="contact_input">
                                    </div>
                                    <div>
                                        <label for="message">Message*</label>
                                        <textarea id="message" class="contact_input contact_textarea"
                                                  required="required"></textarea>
                                    </div>
                                    <button class="button contact_button" value="submit" onclick="contact.submitForm()">
                                        <span>Send Message</span>
                                    </button>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 offset-xl-1 contact_col">
                            <!-- Contact Info -->
                            <div class="contact_info">
                                <div class="contact_info_section">
                                    <div class="contact_info_title">Business Manager</div>
                                    <ul>
                                        <li>Name:
                                            <span>Mr. Man</span>
                                        </li>
                                        <li>Phone:
                                            <span>+796 888 888</span>
                                        </li>
                                        <li>Email:
                                            <span>man@gmail.com</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="contact_info_section">
                                    <div class="contact_info_title">Marketing</div>
                                    <ul>
                                        <li>Name:
                                            <span>Mr. Vu</span>
                                        </li>
                                        <li>Phone:
                                            <span>+796 555 555</span>
                                        </li>
                                        <li>Email:
                                            <span>vu@gmail.com</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="contact_info_section">
                                    <div class="contact_info_title">Shipper</div>
                                    <ul>
                                        <li>Name:
                                            <span>Mr. Vinh</span>
                                        </li>
                                        <li>Phone:
                                            <span>+796 333 333</span>
                                        </li>
                                        <li>Email:
                                            <span>vinh@gmail.com</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->

            <div class="footer_overlay"></div>
            <footer class="footer">
                <div class="footer_background" style="background-image:url(/source/images/footer.jpg)"></div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="footer_content d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center">
                                <div class="footer_logo">
                                    <a href="#">Sublime.</a>
                                </div>
                                <div class="copyright ml-auto mr-auto">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                    All rights reserved | This template is made with
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    by
                                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </div>
                                <div class="footer_social ml-lg-auto">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <div th:replace="/layout/index::js"></div>
        <script th:src="@{/source/js/contact.js}"></script>
        <script th:src="@{/source/js/submitForm.js}"></script>

    </body>
</html>