<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout:: head"></head>
<body>
<h3>Customer</h3>
<p>
    <a th:href="@{/customer/create}">
        Add New Customer
    </a>
</p>
<div class="notify">
    <div th:if = "${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id="customer">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${customers}">

    </tr>
    </tbody>
</table>

</body>