<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit contact</title>
</head>
<body>
<h1>Edit Contact</h1>
<p>
    <a href="/contacts">Contact list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-contact}" th:object="${contacts}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td> First Name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</td>
        </tr>
        <tr>
            <td> Last Name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</td>

        </tr>
        <tr>
            <td>Phone Number:</td>
            <td><input type="text" th:field="*{phoneNumber}"/></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
            <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name Error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" th:field="*{email}"/></td>
            <td th:if="${#fields.hasErrors('email')}"  th:errors="*{email}">Name Error</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update contact"></td>
        </tr>
    </table>
</form>
</body>
</html>